@media only screen and (min-width: 320px) {
    * {
        box-sizing: border-box;
    }
    
    h1 {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

    .center {
        display: flex;
        justify-content: center;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hide {
        display: none;
    }
}