@media only screen and (min-width: 320px) {
    * {
        box-sizing: border-box;
        font-family: 'Dosis', sans-serif;
    }

    body {
        margin: 0;
        background: #403F4C;
        color: white;
    }

    main {
        margin-top: 50px;
    }
    
    h1 {
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }

    .center {
        display: flex;
        justify-content: center;
    }

    .frontPage {
        height: 24px;
    }

    button:hover, #filter:hover {
        background: white;
    }

    .js-create, .js-cancel, .js-add-button, #filter {
        font-size: 15px;
        border: 1px white;
        text-align: center;
        border-radius: 4px;
    }

    .js-visit-page{
        font-size: 11px;
        border: 1px white;
        text-align: center;
    }

    /*Trash Icon and Button*/
    .js-remove {
        height: 0px;
        width: 0px;
        background: #F2cd37;
        position: absolute;
        left: 90%;
        border: none;
    }

    .js-remove-icon {
        cursor: pointer;
        width: 15px;
        height: 15px;
        border: none;
    }

    /*Rating Position*/
    .js-rating {
        position: absolute;
        left: 90%;
    }

    .starImage {
        width: 13px;
        height: 13px;
    }

    #filter {
        margin-left: 8px;
        width: 55px;
    }

    .js-list-container {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 3px;
        width: 90%;
        height: 100%;
    }

    .js-bookmark-list {
        border-width: 3px;
        border-color: black;
    }
    
    .js-bookmark-item {
        background: #F2cd37;
    }
    
    li {
        background: #F9DC5C;
        margin-right: 10%;
        color: black;
        width: 87%;
        margin-bottom: 5px;
        position: relative;
    }

    .js-bookmark-header {
        background: #F2cd37;
    }

    .js-description {
        margin-bottom: 0px;
    }
    

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10%;
        margin-right: 10%;
    }

    .js-create-button {
        margin-top: 20px;
    }

    ul {
        list-style-type: none;
    }

}

@media only screen and (min-width: 375px) {
    h1 {
        width: 60%;
        font-size: 40px;
    }


    .js-create, .js-cancel, .js-add-button, #filter {
        font-size: 18px;
    }

    .js-list-container, form {
        font-size: 20px;
    }

    input {
        height: 25px;
    }
    

    .js-remove-icon {
        width: 17px;
        height: 20px;
    }

    /*Visit Button*/
    .js-visit-page{
        font-size: 15px;
    }

    /*Rating Position*/
    .starImage {
        width: 15px;
        height: 15px;
    }

    input[type=text],input[type=text] {
        font-size: 17px;
    }
}

@media only screen and (min-width: 425px) {
    h1 {
        font-size: 45px;
    }

}

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 60px;
        width: 48%;
    }

    /*Trash Icon and Button*/
    .js-remove {
        left: 95%;
    }

    /*Rating Position*/
    .js-rating {
        left: 94%;
    }

    .starImage {
        width: 20px;
        height: 20px;
    }

    .js-create, .js-cancel, .js-add-button, #filter {
        font-size: 25px;
        width: 100px;
        height: 35px;
    }

    .js-visit-page{
        font-size: 18px;
    }

    form {
        margin-left: 15%;
        margin-right: 15%;
    }

    input {
        height: 40px;
    }

    input[type=text], input[type=url] {
        font-size: 25px;
    }

}

@media only screen and (min-width: 1024px) {
    h1 {
        font-size: 60px;
        width: 36%;
    }

    .js-list-container, form {
        font-size: 30px;
    }


    .js-remove-icon {
        width: 23px;
        height: 27px;
    }

    .starImage {
        width: 23px;
        height: 23px;
    }

    .js-visit-page{
        font-size: 22px;
    }
}

@media only screen and (min-width: 1024px) {
    h1 {
        font-size: 90px;
    }

    /*Trash Icon and Button*/
    .js-remove {
        left: 97%;
    }

    /*Rating Position*/
    .js-rating {
        left: 96%;
    }
}